.default {
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    background-color: white;
    border-color: white;
    border-width: 1px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 29px;
    width: 7rem;
}

.default:hover {
    background-color: #ECECEC;
    border-color: #ECECEC;
}

.navbar__btn {
    composes: default;
    width: 157px;
    height: 30px;
    margin-left: auto;
    color: red;
}

.signout__btn {
    composes: default;
    margin-left: auto;
    
}

.login__btn {
    composes: default;
    height: 3rem;
    font-size: 20px;
    
}

.dashBoard_btn {
    composes: default;
    /* margin-left: auto; */
    height: 2.5rem;
}

.dashBoard_btnDeleteProfile {
    composes: default;
    width: 80%;
    height: 2rem;
    left: 4rem;
    position: relative;
    background-color: rgb(255, 212, 212);
}