.dashBoard_container {
    background-color: white;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 6rem 1fr;
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
        "navbar navbar navbar"
        "main main main";
    justify-items: stretch;
    align-items: stretch;
}

.container {
    grid-area: main;
    justify-self: center;
    width: 100%;
    height: fit-content;
    margin-top: 4rem;
    padding: 0 6rem;
}

.container:hover {
    height: 0px;
    transition: all 5s;
}

.li_main {
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: 1rem;
    flex-grow: 0;
}

.ul_main {
    display: flex;
    flex-direction: column;
    max-width:500px;
    margin: auto;
}

.main_p {
    flex-grow: 1;
    text-align: center;
}

